@import "../../variables.scss";

.DetailsItem {
  background-color: $white-color;
  padding: $large-spacing;

  &__main {
    display: flex;

    @media (max-width: 800px) {
      flex-direction: column;
    }
  }

  &__picture {
    flex-grow: 1;
    text-align: center;

    @media (max-width: 800px) {
      img {
        max-width: 600px;
      }
    }
  }

  &__info {
    margin-left: 20px;
    flex-basis: 250px;

    @media (max-width: 800px) {
      margin: 20px 0;
    }
  }

  &__condition {
    font-size: 14px;
    margin-bottom: $small-spacing;
  }

  &__title {
    margin-bottom: $large-spacing;

    h1 {
      font-size: 24px;
      font-weight: 500;
      margin: 0;
    }
  }

  &__price {
    font-size: 46px;
    margin-bottom: $large-spacing;
    position: relative;
  }

  &__decimals {
    font-size: 24px;
    position: absolute;
    top: 5px;
  }

  &__button {
    font-size: 16px;
    background-color: $blue-color;
    color: $white-color;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
  }

  &__description {
    h3 {
      font-size: 28px;
      margin: $large-spacing 0;
    }
    span {
      font-size: 16px;
      color: $light-grey-color;
      word-wrap: break-word;
    }
  }
}