$dark-grey-color: #333;
$grey-color: #666;
$light-grey-color: #999;
$lightest-grey-color: #EEE;
$yellow-color: #FFE600;
$blue-color: #3483FA;
$white-color: #FFF;

$small-spacing: 16px;
$large-spacing: 32px;